<a href="https://colab.research.google.com/github/Kalpana056/test/blob/main/Practice_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 Convert a given string to int using a single line of code
a='5'
print(int(a))

5

In [ ]:
#2 Write a code snippet to convert a string to a list.
a="hello world Kalpana here"
print(a.split())
print(type(a))

['hello', 'world', 'Kalpana', 'here']
<class 'str'>

In [ ]:
#3 Write a code snippet to reverse a string.
str ="kalpana"
rev_str=""
for i in str:
  rev_str=i + rev_str
print("original string:",str)
print("revesed string:",rev_str)

original string: kalpana
revesed string: anaplak

In [ ]:
#4 Write a code snippet to sort a list in Python.
List=[1,34,2,21,44.3,56,2]
List.sort()
print(List)

[1, 2, 2, 21, 34, 44.3, 56]

In [ ]:
#5 How to access an element of a list?
List1=["sai","kalpana",34,23.2,"pi",1]
print(List1[3])

23.2

In [ ]:
#6 Discuss different ways of deleting an element from a list.
List=[1,2,3,4,5,6,7,8]
List.pop(3)
print(List)
List2=[1,2,3,4,5,6,7,8]
List2.remove(3)
print(List2)

[1, 2, 3, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]

In [ ]:
#7.Write a code snippet to delete an entire list.
List=[1,2,3,4,"sai",3.14]
List.clear()
print("after clear",List)

after clear []

In [ ]:
#8 Write a code snippet to reverse an array.
array=[1,2,3,4,5,6]
array.reverse()
print(array)


Array=[1,2,3,4,5,6,7]
reverse_Array=Array[::-1]
print(reverse_Array)

[6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#9 Write a code snippet to concatenate lists.
List1=["hi","bye",1,2]
List2=[3,2,3.3]
List=List1+List2
print(List)

['hi', 'bye', 1, 2, 3, 2, 3.3]

In [ ]:
#10  Write a code snippet to generate the square of every element of a list.
List=[1,2,3,4,5,6,7,8]
square_list=[]
for i in List:
 square_list.append(i*i)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
#11 replacing the string elements
s="hello world"
s=(s.replace('world','universe').replace ('hello','hi'))
print(s)

hi universe

In [ ]:
#12  Write a program to check whether a number is prime or not.
num = int(input("Enter a number:"))
Prime =True
if num>1:
  for i in range(2,num):
    if num%i==0:
      prime =False
      break
if prime:
  print("Entered number is not a prime")
else:
  print("Entered number is a prime")

Enter a number:88
Entered number is a prime

In [ ]:
#13 Write a program in Python to return the factorial of a given number using recursion.
def factorial(n):
  if n==1:
    return 1
  if n<0:
    return "factorial Doesn't Exit"
  elif n==0:
    return 0
  else:
    return n*factorial(n-1)
n= int(input("enter number:"))
print(factorial(n))

enter number:5
120

In [ ]:
#14 Fibonacci Series
def fibonacci(n):
  if n<=1:
    return 1
  else:
    return(fibonacci(n-1)+fibonacci(n-2))
n = int(input("Enter the num:"))
print(fibonacci(n))

Enter the num:5
8